/* Grid Container Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  max-width: 1500px;
  margin: 10px auto;
  padding: 20px;
}

.grid-item {
  background: #999;
  color: #0073e6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  filter: 50%;
}

.grid-item:hover {
  background: #005bb5;
  transform: scale(1.05);
}

.grid-item a {
  color: #999;
  text-decoration: none;
}

/* Info Section Styles */
.info-section {
  max-width: 97%;
  padding: 5px 20px;
  text-align: center;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px auto;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}

.info-section .text-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}